<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBLu6yPNdcKFYVnViZzNzrIsv1p8UhvkkI</string>
	<key>GCM_SENDER_ID</key>
	<string>801457142609</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.keyrack</string>
	<key>PROJECT_ID</key>
	<string>key-rack</string>
	<key>STORAGE_BUCKET</key>
	<string>key-rack.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:801457142609:ios:1c3dfe9b306f6bf2093170</string>
	<key>DATABASE_URL</key>
	<string>https://key-rack-default-rtdb.firebaseio.com</string>
</dict>
</plist>